.cardContainer {
  display: flex;
}

.card {
  background-color: #181818;
  width: 14.375rem;
  height: 17.75rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  padding-block: 0.75rem;
  padding-inline: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cardImage {
  object-fit: cover;
  width: 13.75rem;
  height: 13.75rem;
  border-radius: 12px;
}
.cardTextArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  p {
    color: #b3b3b3;
  }
}

.artistName {
  color: white;
  font-weight: bold;
}

.cardTitle {
  font-size: 0.875rem;
  color: #aaa;
}

.playBtn {
  opacity: 0;
}

.card:hover .playBtn {
  animation: slideUp 0.8s ease-out forwards;
  opacity: 1;
}

@keyframes slideUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
