.podcast {
  height: calc(100vh - 98px);
  overflow-y: scroll;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.headLineWrapper {
  background: linear-gradient(
    to bottom,
    #121212 0px,
    #121212 800px,
    rgba(0, 0, 0, 0.8) 1200px,
    #000000 100%
  );
}

.headlineArea {
  max-height: 420px;
  min-height: 250px;
  color: #fff;
  display: flex;
  position: relative;
  width: 100%;
}

.heeadLineItem {
  display: flex;
  padding: 24px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(39, 133, 106), rgb(30, 104, 84));
}
.headLineTextArea {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-end;
  z-index: 0;
}
.headLineTextItem {
  line-height: normal;
  overflow: hidden;
  text-align: left;
  width: 100%;
  word-break: break-word;
}

.headLineText {
  visibility: visible;
  width: 100%;
  font-size: 6rem;
  white-space: nowrap;
  text-wrap-style: balance;
  color: #fff;
  font-weight: 800;
}

.sectionWrapper {
  background: #121212;
  isolation: solate;
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
}

.sectionBefore {
  background: rgb(39, 133, 106);
  height: 232px;
  position: absolute;
  width: 100%;
  z-index: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%);
  left: 0;
  right: 0;
}

.sectionArea {
  padding-top: 32px;
  width: 100%;
}
.section {
  display: grid;
  grid-gap: 24px;
  padding-top: 16px;
}

.sectionItems {
  display: flex;
  max-width: 100%;
  min-width: 100%;
  flex-direction: column;
  position: relative;
  contain-intrinsic-size: auto 260px;
  container-type: inline-size;
  flex: 1 1 auto;
  min-height: 260px;
}

.sectionHeadLine {
}

.sectionHead {
  margin-bottom: 8px;
  min-block-size: 40px;
  padding-block: 0;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  grid-auto-rows: auto 1fr auto;
  box-sizing: border-box;
  position: relative;
  border-radius: 6px;
  min-block-size: 56px;
  z-index: 0;
  color: #fff;
  padding-block: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.sectionHeadTextArea {
  grid-column-end: -1;
  gap: 12px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.textAreaItems {
  display: flex;
  height: 100%;
  align-self: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}
.secitonText {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  text-wrap: balance;
}

.sectionContent {
  min-width: 300px;
  margin-inline: -12px;
  content-visibility: auto;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.sectionFooter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.footerButton {
  font-size: 0.875rem;
  font-weight: 400;
  box-sizing: border-box;
  background-color: transparent;
  border: 0px;
  color: white;
  cursor: pointer;
  line-height: 1;
  letter-spacing: inherit;
  padding: 0px;
  border-radius: 9999px;
  display: inline-flex;
  vertical-align: middle;
  max-inline-size: 100%;
  margin-block-end: 8px;
  text-decoration: none;
  overflow-wrap: break-word;
  position: relative;
  flex-shrink: 0;
}

.footerTextArea {
  gap: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  transition: background-color 200ms, color 200ms;
  display: inline-flex;
  min-inline-size: 0px;
  min-block-size: 32px;
  align-items: center;
  padding-block: 4px;
  padding-inline: 12px;
  background-color: rgba(0, 0, 0, 0.08);
  -webkit-transition: background-color 200ms, color 200ms;
  -moz-transition: background-color 200ms, color 200ms;
  -ms-transition: background-color 200ms, color 200ms;
  -o-transition: background-color 200ms, color 200ms;
}

.footerText {
  font-size: 0.875rem;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 0.8125rem;
  font-weight: 700;
  color: inherit;
}
