.followButton {
    background-color: transparent;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 6px 18px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .followButton:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
  
  .followButton:focus {
    outline: none;
  }
  
  .followButton:active {
    background-color: #1db954;
    color: white;
    border: 2px solid #1db954;
  }
  