.catagoryCardWarapper {
  padding: 12px;
  min-width: 300px;
  min-height: 169px;
}

.catgoryCard {
  background-color: rgb(220, 20, 140);
  border-radius: 8px;
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.cardImg {
  right: 0;
  transform: rotate(-65deg)translate(-15%, 10%);
  border-radius: 4px;
  bottom: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 35%;
  height: 150px;
  object-fit: cover;
  object-position: center center;
  -webkit-transform: rotate(-65deg)translate(-15%, 10%);
  -moz-transform: rotate(-65deg)translate(-15%, 10%);
  -ms-transform: rotate(-65deg)translate(-15%, 10%);
  -o-transform: rotate(-65deg)translate(-15%, 10%);
}

.cardCopy {
  hyphens: auto;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 16px;
  position: absolute;
  padding-inline-end: 30%;
  font-size: 1.5rem;
  font-weight: 700;
  text-wrap: balance;
}
